{{- range $labelName, $label := .Values.labels }}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app-of-appsets-{{ $label.keyName }}
  namespace: openshift-gitops
spec:
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  project: default
  sources:
    - helm:
        parameters:
          - name: {{ $label.keyName }}
            value: {{ $label.keyValue | quote }}
        valueFiles:
          - {{ $labelName }}.yaml
      repoURL: https://github.com/IdanHenik/distributed-argocd-demo.git
      targetRevision: main
      path: environments/{{ $label.keyName }}
{{- end}}
